html{
    background: url(../image/Black-Background.png) no-repeat center center fixed;
}
.navbar{
    display:flex;
    justify-content: center;
    height:50px;
    align-items: center;
    position : relative;
    
}
.navbar::before{
    content: "";
    position: absolute;
    background-color:rgba(0,0,0,0.5);
    height:100%;
    width: 100%;
    z-index: -1;
}
.navbar ul{
    display: flex;
    list-style: none;
}
.navbar ul li{
    font: 1.5em sans-serif;
}
.navbar ul li a{
    padding:5px 20px;
    text-decoration: none;
    color:white;
}
.prof-box {
    width:450px;
    height:450px;
    background-color: rgba(0,0,0,0.5);
    padding: 40px;
    color: white;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.prof-pic{
    border-radius:30%;
    height:210px;
    width:150px;
    border-style: solid;
    border-color:white;
    border-width:4px;
    border-radius:50%;
}
h1{
    font-weight:10px;
    letter-spacing:6px;
    font-size: 40px;
}
.social{
    font-size: 30px;
}
.social a{
    color:white;
    text-decoration:none;
}
.social a:hover{
    color:rgb(115, 121, 120);
    opacity: 1.0;
    
}
.footer{
    padding: 0.5em 0;
    text-align: center;
}
/*Skills*/
#Skills{
    display:flex;
    flex-direction:column;
    background-color: rgba(0,0,0,0.5);
    text-align: center;

}
#Skills h1{
    margin:10px;
    color:white;
    text-align:center;
}
.myskills{
    display:flex;
    font-size:50px;
    justify-content:space-around;
    flex-wrap:wrap;
    font-weight:bold;
}
.myskills a{
    color:white;
    text-decoration:none;
}
.myskills a:hover{
    color:rgb(115, 121, 120);
    opacity: 1.0;
}
#education{
    display:flex;
    flex-direction:column;
    background-color:rgba(0,0,0,0.5);
}
#education h1{
    margin:20px;
    color:white;
    text-align: center;
}
.columns{
    display:grid;
    grid-template-columns: auto auto;
    padding-left: 50px;
    padding-right: 50px;
}
.box{
    height:200px;
    width:800p;
    background-color:rgba(255,255,255,0.1);
    border-radius:20px;
    margin:10px;
   
   
}
.box h2{
    color:white;
    font-size:2rem;
    margin-bottom:30px;
    margin-top:5px;
    text-align: center;
}
.box p{
    color:white;
    font-size:1.2rem;
}
#location{
    display:flex;
    flex-direction:column;
    background-color: rgba(0,0,0,0.5);
}
#location h1{
    margin-top:20px;
    color:white;
    text-align:center;
}
.place{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.footer{
    color:white;
}

